@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-desc {
  width: 100%;
  max-width: 1010px;
  padding: 0 1.6rem;

  &__title {
    @include heading-style(
      $font-heading-lg-m,
      $lh-heading-lg-m,
      $padding-heading-sm
    );
    border-bottom: 0.1rem solid $color-mercury;

    @include tablet-breakpoint {
      margin: 3.6rem 0 2.4rem 0;
    }
  }

  &-wrp {
    display: flex;
    padding: $padding-sm 0;
    justify-content: flex-start;
    gap: 3rem;

    @include tablet-breakpoint {
      justify-content: space-between;
      gap: 0;
    }
  }
  &__channel,
  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include tablet-breakpoint {
      flex-direction: row;
    }
  }

  &__stats {
    @include tablet-breakpoint {
      gap: 2.4rem;
      padding-right: 2.4rem;
    }
  }
  &__channel {
    &-name {
      font-weight: 600;
      @include font($font-body-sm, $lh-body-sm);
    }

    &-date {
      @include font($font-heading-sm, $lh-heading-sm);
    }

    @include tablet-breakpoint {
      gap: 3.5rem;
    }
  }

  &__views,
  &__likes,
  &__channel-date {
    color: $color-silver;
    @include font($font-heading-sm, $lh-heading-sm);
  }

  &__views,
  &__likes {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  &__content {
    @include font($font-body-sm, $lh-body-sm);
  }

  @include tablet-breakpoint {
    border-right: 0.1rem solid red;
  }

  @include desktop-breakpoint {
    flex: 2;
  }
}
