@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-desc {
  width: 100%;
  padding: 0 $padding-sm;

  &__title {
    @include heading-style(
      $font-heading-lg-m,
      $lh-heading-lg-m,
      $padding-heading-sm
    );

    @include tablet-breakpoint {
      @include heading-style(
        $font-heading-lg-d,
        $lh-heading-lg-d,
        $padding-heading-lg
      );
    }

    @include desktop-breakpoint {
      max-width: 700px;
      width: 100%;
    }
  }

  &-wrp {
    display: flex;
    padding: 0 0 1.2rem;
    justify-content: flex-start;
    gap: 3rem;

    @include tablet-breakpoint {
      padding-bottom: 1.2rem;
      justify-content: space-between;
      gap: 0;
      border-bottom: 0.1rem solid $color-mercury;
    }

    @include desktop-breakpoint {
      max-width: 700px;
      width: 100%;
    }
  }
  &__channel,
  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include tablet-breakpoint {
      flex-direction: row;
    }
  }

  &__stats {
    @include tablet-breakpoint {
      gap: 2.4rem;
      @include font($font-body-md, $lh-body-md);
    }

    @include desktop-breakpoint {
      padding-right: 2.4rem;
    }
  }

  &__channel {
    &-name {
      font-weight: 700;
      @include font($font-body-sm, $lh-body-sm);

      @include tablet-breakpoint {
        @include font($font-body-md, $lh-body-md);
      }
    }

    &-date {
      @include font($font-heading-sm, $lh-heading-sm);

      @include tablet-breakpoint {
        @include font($font-body-md, $lh-body-md);
      }
    }

    @include tablet-breakpoint {
      gap: 3.5rem;
    }
  }

  &__views,
  &__likes,
  &__channel-date {
    color: $color-silver;
    @include font($font-heading-sm, $lh-heading-sm);
  }

  &__views,
  &__likes {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  &__content {
    @include font($font-body-sm, $lh-body-sm);

    @include tablet-breakpoint {
      padding: 3rem 0;
    }

    @include desktop-breakpoint {
      max-width: 700px;
    }
  }

  @include tablet-breakpoint {
    @include font($font-heading-lg-d, $lh-heading-lg-d);
    padding: 0 $padding-lg;
  }

  @include desktop-breakpoint {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 2;
    padding: 0;
  }
}
