@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: $color-brainflix-blue;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s ease;
  cursor: pointer;
  @include font($font-body-sm, $lh-body-sm);

  &:hover {
    background-color: $color-brainflix-darkblue;
  }

  & img {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
  }
  &.btn--comment {
    width: calc(100% - 1.2rem);
  }
  @include tablet-breakpoint {
    min-width: 155px;
    max-width: 200px;
    flex-shrink: 0;
    padding: 0 3.2rem;
    order: 1;
  }
}
