@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include font($font-body-md, $lh-body-md);

  &-wrp {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__comment {
    flex-shrink: 0;
    display: flex;
    gap: 1.2rem;

    @include tablet-breakpoint {
      gap: 1.8rem;
    }
  }
  &__content {
    width: 100%;

    @include tablet-breakpoint {
      display: flex;
      gap: 1.6rem;
      margin-left: 0;
    }
  }
  &__label {
    @include font($font-heading-sm, $lh-heading-md);
    text-transform: uppercase;
    color: $color-silver;
    font-weight: 600;

    &--comments {
      margin-bottom: 0.4rem;
      padding-left: 4.8rem;

      @include tablet-breakpoint {
        padding-left: 5.8rem;
      }
    }
  }
  &__field {
    height: 95px;
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.2rem;
    border: 0.1rem solid $color-mercury;
    overflow: hidden;
    @include font($font-body-sm, $lh-body-sm);

    &::placeholder {
      color: $color-brainflix-black;
      transform: translateY(-0.1rem);
    }

    &:focus {
      border: 0.1rem solid transparent;
      outline: 0.2rem solid $color-brainflix-blue;
    }

    @include tablet-breakpoint {
      height: 40px;
      display: flex;
      align-items: center;
    }
  }

  &__content {
    @include tablet-breakpoint {
      margin-left: 0;
    }
  }

  @include tablet-breakpoint {
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
    border-bottom: 0.1rem solid $color-mercury;
  }

  @include desktop-breakpoint {
    max-width: 700px;
    width: 100%;
    padding-right: $padding-md;
  }
}
