@use "../../styles/partials/variables" as *;

/* ************************** */
/* STYLE MIXINS*/
/* ************************** */

@mixin padding($padding) {
  padding: $padding;
}
@mixin font($f-s, $l-h) {
  font-size: $f-s;
  line-height: $l-h;
}
@mixin heading-style($f-s, $l-h, $padding) {
  @include font($f-s, $l-h);
  @include padding($padding);
}

@mixin avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;

  @include tablet-breakpoint {
    width: 40px;
    height: 40px;
  }
}

/* ************************** */
/* MEDIA MIXINS*/
/* ************************** */

//Tablet breakpoint from 768px to 1279px:
@mixin tablet-breakpoint {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

//Desktop breakpoint from 1280px onwards:
@mixin desktop-breakpoint {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
