// SCREEN BREAKPOINTS (Mobile First):
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLORS:
// Primary colors:
$color-brainflix-black: #323232;
$color-brainflix-blue: #0095ff;
$color-silver: #afafaf;
$color-white: #ffffff;

// Secondary colors:
$color-brainflix-darkblack: #000000;
$color-brainflix-darkblue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

//PADDINGS:
$padding-sm: 1.6rem;
$padding-md: 2.4rem;
$padding-lg: 3.6rem;
$padding-heading-sm: 2.4rem 0 1.6rem 0;
$padding-heading-lg: 3.6rem 0 2.4rem 0;

//FONTS
//Font size:
$font-body-sm: 1.3rem;
$font-body-md: 1.4rem;
$font-heading-sm: 1.2rem;
$font-heading-md: 1.4rem;
$font-heading-lg-m: 2.4rem;
$font-heading-lg-d: 3.3rem;

//Line height:
$lh-body-sm: 1.8rem;
$lh-body-md: 2.2rem;
$lh-heading-sm: 2rem;
$lh-heading-md: 2.2rem;
$lh-heading-lg-m: 3.2rem;
$lh-heading-lg-d: 4.4rem;
