@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  gap: 1.6rem;

  &-wrp {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  @include tablet-breakpoint {
    flex-direction: row;
  }
}
