@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  gap: 1.6rem;
  width: 100%;

  &-wrp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    width: 100%;

    @include tablet-breakpoint {
      justify-content: flex-end;
      gap: 2.4rem;
    }
  }

  &-user-controls {
    display: flex;

    @include tablet-breakpoint {
      gap: 2.4rem;
    }
    @include desktop-breakpoint {
      gap: 3.6rem;
    }
  }

  @include tablet-breakpoint {
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-sm $padding-lg;
  }

  @include desktop-breakpoint {
    max-width: 1010px;
    width: 1010px;
  }
}
