@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  width: 100%;
  object-fit: cover;
  cursor: pointer;

  &--main {
    @include tablet-breakpoint {
      padding: 0 $padding-lg;
    }
  }

  @include desktop-breakpoint {
    max-width: 85rem;
  }
}
