@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header__search {
  flex: 1;

  &-input {
    height: 36px;
    width: 100%;
    background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 1.2rem;
    border: 0.1rem solid $color-mercury;
    border-radius: 0.4rem;
    padding: 1.2rem 1.2rem 1.2rem 4.4rem;

    &::placeholder {
      color: $color-brainflix-black;
    }
    &:focus {
      border: 0.1rem solid transparent;
      outline: 0.2rem solid $color-brainflix-blue;
    }

    @include tablet-breakpoint {
      width: 240px;
      height: 40px;
      background-position: 1.6rem;
      padding: 1.6rem 1.6rem 1.6rem 4.4rem;
    }
  }

  @include tablet-breakpoint {
    flex: none;
  }
}
