@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header__search {
  flex: 1;
  height: 36px;
  max-width: 100%;
  max-height: 100%;
  background-image: url("../../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 1.2rem;
  border: 0.1rem solid $color-mercury;
  outline: 0.1rem solid transparent;
  outline-offset: 0.1rem;
  outline-offset: 0.1rem;
  border-radius: 0.4rem;
  padding: 1.2rem 1.2rem 1.2rem 4.4rem;

  &::placeholder {
    color: $color-brainflix-black;
  }
  &:focus {
    border: 0.2rem solid $color-brainflix-blue;
    outline: none;
  }

  @include tablet-breakpoint {
    background-position: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem 4.4rem;
    height: 40px;
  }
}
