@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  padding: 0 $padding-sm;

  &__heading {
    font-weight: 700;

    @include heading-style($font-body-sm, $lh-body-sm, $padding-md 0);
    @include tablet-breakpoint {
      padding: 0 0 $padding-md;
      @include font($font-body-md, $lh-body-md);
    }
    @include desktop-breakpoint {
      max-width: 700px;
      width: 100%;
    }
  }

  &-wrp {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include font($font-body-md, $lh-body-md);

    @include desktop-breakpoint {
      align-items: flex-start;
      max-width: 700px;
      width: 100%;
    }
  }

  @include tablet-breakpoint {
    padding: 0 $padding-lg;
  }
  @include desktop-breakpoint {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
  }
}
