@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  &__avatar {
    background-color: $color-mercury;
    flex-shrink: 0;
    @include avatar;
  }

  &-wrp {
    width: 100%;
    @include font($font-body-sm, $lh-body-sm);

    @include tablet-breakpoint {
      @include font($font-body-md, $lh-body-md);
    }

    @include desktop-breakpoint {
      padding-right: $padding-md;
    }
  }
  &__card {
    display: flex;
    padding: $padding-sm 0;
    border-bottom: 0.1rem solid $color-mercury;
    gap: 1.6rem;

    @include tablet-breakpoint {
      padding: $padding-md 0;
    }

    @include desktop-breakpoint {
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;

    &-name {
      font-weight: 600;
    }

    &-date {
      color: $color-silver;
      font-weight: 400;
    }
  }
  &__delete {
    @include flex-row-center;
    gap: 1.2rem;
    & img {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
}
