@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  &__avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
    background-color: $color-mercury;
    flex-shrink: 0;
    @include tablet-breakpoint {
      width: 48px;
      height: 48px;
    }
  }
  &-wrp {
    width: 100%;
    @include font($font-body-sm, $lh-body-sm);

    @include tablet-breakpoint {
      @include font($font-body-md, $lh-body-md);
    }
    @include desktop-breakpoint {
      padding-right: 2.4rem;
    }
  }
  &__card {
    display: flex;
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid $color-mercury;
    gap: 1.6rem;
    @include tablet-breakpoint {
      padding: 2.4rem 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    &-name {
      font-weight: 600;
    }
    &-date {
      color: $color-silver;
      font-weight: 400;
    }
  }
}
