@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.avatar {
  flex-shrink: 0;

  &__img {
    @include avatar;
  }

  &-position {
    @include tablet-breakpoint {
      order: 2;
    }
    @include desktop-breakpoint {
      padding-left: 1.2rem;
    }
  }
}
