@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
  flex-shrink: 0;
  @include tablet-breakpoint {
    width: 48px;
    height: 48px;
  }
}
