@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  @include desktop-breakpoint {
    flex-direction: row;
    justify-content: center;
  }
}
