@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  flex: 1;
  width: 100%;

  @include desktop-breakpoint {
    flex: none;
    width: fit-content;
  }
}
